:root {
    --primario: #F2CEDB;
    --primarioStrong: #BFA4B3;
    --secundario: #7E778C;
    --terciario: #0E2940;
    --colorNavbar: #0C203B;
}

.MuiButton-text {
    color: var(--primario) !important
}
/* .navContainer{
    width: 100%;
    background-color: var(--colorNavbar);
    height: 12vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px ;
}

.containerCategories{
    display: flex;
    list-style: none;
    gap: 25px;
}

.containerBrand{
    display: flex;
    align-items: self-end;
    font-family: 'Arsenica';
} */

/* .brandText {
    color: var(--primario);
    background-color: var(--colorNavbar);
} */

body {
    background-color: var(--primario);    
}

img {
    width: 90px;
    height: 90px;
}
